[Unit]
Description=isitup from github.com/alxndr13/isitup

[Service]
User=root
Group=root
PIDFile=/tmp/isitup.pid
WorkingDirectory=/opt/isitup
ExecStart=/bin/bash -c '/opt/isitup/isitup'
Restart=on-failure

[Install]
WantedBy=multi-user.target
